[flake8]
show-source = true
exclude = .venv,venv,.git,.tox,dist,doc,*lib/python*
max-line-length=88
per-file-ignores =
     models/bert.py: F821

[isort]
multi_line_output=3
include_trailing_comma=True
force_grid_wrap=0
use_parentheses=True
line_length=88
